.about_section{
    
    border-radius: 0.5rem ;
    margin: 0 auto;
    border: solid black 0.5px;
    margin-top: 1rem;
    width: 90%;
    font-size: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
    
}
h2{
    text-align: center;
}
.grid{
    display: grid;
    padding-top: 5rem;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-template-rows: 1fr 1fr; /* Two equal-height rows */
    gap: 0.5rem;
    
}
.grid-item{
    text-align: center;
   
}
.grid-item>img{
    border-radius: 0.5rem;
    transition: 1s ease;
    width: 6rem;
}

.grid-item  img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }
.about_section>div{
    padding: 0 2rem;
}

/* **************************this is for tablets with a minimum of 768px********************************************* */
@media only screen and (min-width:768px){
    .about_section{
       font-size: 1.3rem ;
    }
    .grid-item{
    text-align: center;
   
    }
    .grid-item>img{
        transition: 1s ease;
        width: 10rem;
    }
}
/* **************************this is for laptops with a minimum of 1024px********************************************* */
@media only screen and (min-width:1024px){
    .about_section{
       font-size: 1.3rem ;
    }
    .grid-item{
    text-align: center;
   
    }
    .grid-item>img{
        transition: 1s ease;
        width: 16rem;
    }
}
/* **************************this is for laptops with a minimum of 1925px********************************************* */
@media only screen and (min-width:1920px){
    .about_section{
       font-size: 1.5rem ;
    }
    .grid-item>img{
        transition: 1s ease;
        width: 12rem;
    }
}
