body{
  margin: 0;
}
*{
  box-sizing: border-box;
}
header{
  padding: 2rem;
  background: rgba(255, 192, 203, 1) url(images/mobile-image.jpg);
  color: white;
}
h1{
  font-size: 2rem;
}
header>div{
  
 display: flex;
 align-items: center;
 justify-content: space-between;
}

footer{
  background-color: rgba(192, 192, 192, 1);
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  
}

/************************* styling for tablets with a minimun width of 768 pixels**************** */
@media only screen and (min-width:768px){
  header{
    
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: rgba(255, 192, 203, 1) url(./images/wepik-export-202309281058396j9l.png); 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 15rem;
  }
  h1{
    color: white;
    margin: 7.5rem 0 7rem 0;
    font-size: 4rem;
  }
  header>div{
    margin: 8.5rem 0 6.5rem 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


/********************* for laptops with a minimun width of 1000 pixels *************************/
@media only screen and (min-width:1000px){
  header{
    
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: rgba(255, 192, 203, 1) url(./images/tessa-wilson-xkYJqEno62c-unsplash.jpg); 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 30rem;
  }
  h1{
    padding: 2rem;
    margin: 0 0 20rem 0;
    font-size: 4rem;
  }
  header>div{
   position: sticky;
   top: 0;
   margin: 0 0 20rem 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
}



 /************** For laptops with a minimun width of 1925 pixels *****************************/
@media only screen and (min-width:1925px){
  header{
    
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: rgba(255, 192, 203, 1) url(./images/tessa2400.jpg); 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 40rem;
  }
  h1{
   
    margin: 20rem 0 10rem 0;
    font-size: 8rem;
  }
  header>div{
    position: sticky;
    top: 0;
    margin: 20rem 0 10rem 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
}